<div class = "col-md-8 col-md-offset-2">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">api</li>
  </ol>
  <h2>Steep Slope API</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Endpoint</th>
        <th>Description</th>
        <th>Explore</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><pre><strong>GET:</strong> /api/slope/:pin</pre></td>
        <td>PIN, or comma-seperated list of PINs</td>
        <td><a href="/api/slope" class = "btn btn-success">Explore</a></td>
      </tr>
    </tbody>
  </table>
</div>
