<div class="container">

  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <h2>Find Slope for a Parcel</h2>
    <hr>
      <h4>
        1. Use
      <a target = "_blank" href="http://simplicity.ashevillenc.gov">SimpliCity</a>
      or
      <a target = "_blank" href="https://arcgis.ashevillenc.gov/mapAsheville/">mapAsheville</a>
      to find the PIN or PINs the parcels you are interested calulating slope for.
    </h4>
    <br>
    <h4>
      2. Enter the PIN or PINs below and click Calculate.

    </h4>
    <div class="col-xs-12 ">
      <div class="input-group">
        <input id = "pinInput" type="text" class="form-control" placeholder="Enter PIN or PINs seperated by commas">
        <span class="input-group-btn">
          <button id = "calcButton" class="btn btn-primary" type="button">Calculate</button>
        </span>
      </div><!-- /input-group -->
    </div>
    <hr>
    <br>
    <div id="loading" class="col-xs-12 hidden" >Loading ...</div>
    <div id = "resultsDiv" class="col-xs-12 well hidden">
      <h4>Jurisdiction: <span id="jurisdiction" class = "text-muted"></span></h4>
      <h4>Acres: <span id="acres" class = "text-muted"></span></h4>
      <h4>Maximum Elevation: <span id="maxElevation" class = "text-muted"></span></h4>
      <h4>Percent Slope: <span id="percentSlope" class = "text-muted"></span></h4>
    </div>
  </div>

</div>
