<h1>Welcome to the City of Asheville's Steep Slope Calculator</h1>
<p>This site is currently being developed.</p>
<p>The site provides a gateway to a REST API which will calculate slope for one or more parcels.</p>
