<div class="container">
  <div class="jumbotron">
    <h2>Welcome to the City of Asheville's Steep Slope Calculator</h2>
    <p>The site provides a gateway to a REST API which calculates Average Natural Slope for parcels in Buncombe County</p>
    <p><a class="btn btn-primary btn-lg" href="/api" role="button">Explore</a></p>
  </div>
  <h3 class="text-danger">This site is currently being developed.</h3>
</div>
