<div class="container">
  <div class="jumbotron">
    <h1 style = "color: #34495e"><strong>mapWNC</strong></h1>
    <h2>Welcome to the City of Asheville's Steep Slope Calculator</h2>
    <p>The site provides a gateway to a REST API which calculates Average Natural Slope for parcels in Buncombe County</p>
    <p>
      <a class="btn btn-primary btn-lg" href="/api" role="button">Explore the API</a>
      <a class="btn btn-success btn-lg" href="/find-slope-for-parcel" role="button">Find the Slope for a Parcel</a>
    </p>
  </div>
  If you have questions or concerns, please contact us at: <a href="mailto:helpdesk@ashevillenc.gov">helpdesk@ashevillenc.gov</a>
</div>
