<div class="col-md-8 col-md-offset-2">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/api">api</a></li>
    <li class="active">slopebypin</li>
  </ol>
  <h2>slopebypin</h2>
  <p>
    <pre><strong>GET:</strong> /api/slopebypin/:pin</pre>
    <div class="well col-xs-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Parameter</th>
            <th>Value</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>pin</td>
            <td><input id = "testSlopePin" type="text" class="form-control" placeholder="pin or pins"></td>
            <td>PIN, or comma-seperated list of PINs</td>
          </tr>
        </tbody>
      </table>
      <div class="col-xs-12">
        <a id = "testSlopeLink" target = "_blank" href="/api/slope" class="btn btn-primary pull-right">Test</a>
      </div>

    </div>

    <hr>
    <h4>Sample 200 Response:</h4>
    <pre>
      {
        "id":19615,
        "jurisdiction":"CITY OF ASHEVILLE",
        "maxElevation":"1111.00",
        "acres":"11.1",
        "percentSlope":"11.11"
      }
      {{result}}
    </pre>
  </p>
</div>
