[Service]
WorkingDirectory=/opt/steep-slope
ExecStart=/usr/bin/node /opt/steep-slope/bin/www
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=steepslope-2
User=apiadmin
Group=apiadmin
Environment=NODE_ENV=production PORT=5021

[Install]
WantedBy=Multi-user.target
