[Service]
WorkingDirectory=/opt/steep-slope
ExecStart=/bin/node /opt/steep-slope/bin/www
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=steepslope-1
User=apiadmin
Group=apiadmin
Environment=NODE_ENV=production PORT=5020

[Install]
WantedBy=Multi-user.target
