<div class='row'>
  <div class='col-12 col-lg-8 mx-auto'>
    <ol class='breadcrumb'>
      <li class='breadcrumb-item' aria-current='page'><a href='/'>Home</a></li>
      <li class='breadcrumb-item active' aria-current='page'>api</li>
    </ol>
    <h1 class='h2'>Steep Slope API</h1>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th>Endpoint</th>
          <th>Description</th>
          <th>Explore</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><pre><strong>GET:</strong> /api/slopebypin/:pin</pre></td>
          <td>PIN, or comma-seperated list of PINs</td>
          <td><a href='/api/slopebypin' class='btn btn-success'>Explore</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>