<div class='row'>
  <div id='resultsParent' class='col-12 col-lg-8 mx-auto'>
    <h1 class='h2'>Find Slope for a Parcel</h1>
    <hr />
    <p>
      1. Use
      <a target='_blank' href='http://simplicity.ashevillenc.gov'>SimpliCity</a>
      or
      <a target='_blank' href='https://avlmap.ashevillenc.gov'>mapAsheville</a>
      to find the PIN of the parcel you are interested calculating slope for.
    </p>
    <p>
      2. Enter the 10 or 15 digit PIN below and click Calculate.
    </p>
    <p class='text-muted'></p>

    <form id='slopeForm'>
      <label for='pinInput' class='d-block text-muted'>Enter one or more PINs. Separate multiple
        PINs with commas.</label>
      <div class='input-group mb-3'>
        <input
          id='pinInput'
          name='pinInput'
          type='text'
          class='form-control'
          placeholder='Enter PIN or comma separated list of PINs'
        />
        <div class='input-group-append'>
          <button class='btn btn-primary' type='submit' id='slopeFormSubmit'>Calculate</button>
        </div>
      </div>
    </form>
    <hr />

    {{! <div id='resultsDiv' class='p-3 bg-light border rounded' style='min-height: 150px;'>

    </div> }}
    {{! <div id='resultsDiv' class='col-xs-12 well hidden'>
      <h4>Jurisdiction: <span id='jurisdiction' class='text-muted'></span></h4>
      <h4>Acres: <span id='acres' class='text-muted'></span></h4>
      <h4>Maximum Elevation: <span id='maxElevation' class='text-muted'></span></h4>
      <h4>Percent Slope: <span id='percentSlope' class='text-muted'></span></h4>
    </div>
    <div id='errormsgs' class='col-xs-12 hidden'></div> }}
  </div>
</div>