<html>
  <head>
    <title>{{title}}</title>
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css'
      integrity='sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N'
      crossorigin='anonymous'
    />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class='navbar navbar-expand-md navbar-light bg-light'>
      <a class='navbar-brand' href='/'>Steep Slope Calculator</a>
      <button
        class='navbar-toggler'
        type='button'
        data-toggle='collapse'
        data-target='#navbarNav'
        aria-controls='navbarNav'
        aria-expanded='false'
        aria-label='Toggle navigation'
      >
        <span class='navbar-toggler-icon'></span>
      </button>
      <div class='collapse navbar-collapse' id='navbarNav'>
        <ul class='navbar-nav ml-auto'>
          <li class='nav-item'>
            <a class='nav-link' href='/api'>Explore the API</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class='container pt-4'>
      <aside class='alert alert-warning mx-3 text-center'>
        <h2 class='h4'>
          IMPORTANT: Planned Maintenance Outage for All GIS Services
        </h2>
        <p>
          Friday, February 28, 7 a.m. – 10 a.m.
        </p>
      </aside>
    </div>

    <main class='container py-4'>
      {{{body}}}
    </main>

    <div
      class='modal fade'
      id='gisDisclaimer'
      data-backdrop='static'
      data-keyboard='false'
      tabindex='-1'
      aria-labelledby='gisDisclaimerLabel'
      aria-hidden='true'
    >
      <div class='modal-dialog'>
        <form class='modal-content'>
          <div class='modal-header'>
            <h5 class='modal-title' id='gisDisclaimerLabel'>City of Asheville Geographic Information
              Systems (GIS) Disclaimer</h5>
          </div>
          <div class='modal-body'>
            The City of Asheville acquires, develops, maintains, and uses GIS data in support of its
            internal business functions and the public services it provides. The GIS data which the
            City of Asheville distributes and to which it provides access may not be suitable for
            other purposes or uses. All GIS data sets are provided "as is" with no warranty. All
            users should consult public primary information sources, such as recorded deeds and
            plats, to verify the accuracy of the data provided. It is the user's responsibility to
            verify any information derived from the GIS data before making any decisions or taking
            any action based on the information. Use of all GIS data and map services provided by
            the City of Asheville are covered by this disclaimer.
          </div>
          <div class='modal-footer'>
            <button
              id='acceptDisclaimer'
              type='submit'
              class='btn btn-secondary'
              data-dismiss='modal'
              autofocus
            >Accept</button>
          </div>
        </form>
      </div>
    </div>

  </body>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga'); ga('create',
    'UA-80815963-1', 'auto'); ga('send', 'pageview');
  </script>
  <script
    src='https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js'
    integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj'
    crossorigin='anonymous'
  ></script>
  <script
    src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js'
    integrity='sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct'
    crossorigin='anonymous'
  ></script>

  <script src='/javascripts/app.js'></script>

</html>