<div class='row'>
  <div id='resultsParent' class='col-12 col-lg-8 mx-auto'>
    <ol class='breadcrumb'>
      <li class='breadcrumb-item' aria-current='page'><a href='/'>Home</a></li>
      <li class='breadcrumb-item' aria-current='page'><a href='/api'>api</a></li>
      <li class='breadcrumb-item active' aria-current='page'>slopebypin</li>
    </ol>
    <h1 class='h2'>slopebypin</h1>
    <pre class='p-3 bg-light border rounded'><strong>GET:</strong> /api/slopebypin/:pin</pre>
    <div class='well col-xs-12'>
      <form id='slopeForm'>
        <table class='table table-striped'>
          <thead>
            <tr>
              <th>Parameter</th>
              <th>Value</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><label for='pinInput'>pin</label></td>
              <td>
                <input
                  id='pinInput'
                  name='pinInput'
                  type='text'
                  class='form-control'
                  placeholder='pin or pins'
                />
              </td>
              <td>PIN</td>
            </tr>
          </tbody>
        </table>
        <div class='d-flex justify-content-end'>
          <button id='testSlopeByPinApi' type='submit' class='btn btn-primary'>Test</button>
        </div>
      </form>
    </div>

    <hr />
    <h2 id='resultsHeading' class='h4'>Sample 200 Response:</h2>

    {{! prettier-ignore }}
    <pre id='resultsDiv' class='p-3 bg-light border rounded' style="min-height: 150px;">
{ 
  "id":11111,
  "jurisdiction":"CITY OF ASHEVILLE",
  "maxElevation":"1111.00",
  "acres":"11.1",
  "percentSlope":"11.11"
}
    </pre>
  </div>
</div>